<div id="stops_input" class='w-100 px-3'>
  <%= simple_form_for @stop do |f| %>
    <div class="d-flex">
      <%= f.hidden_field :trip_id, value: @trip.id %>
      <%= f.input :address, id:"stop_address", class:"w-100", label: false, placeholder: "Where do you want to go?" %>
      <%= f.submit "Here", class:'btn btn-primary btn-submit ml-3' %>
    </div>
  <% end %>
</div>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  data-finished="<%= @trip.finished? %>"
  data-coordinates="<%= @trip.coordinates %>"
></div>

<div id="trip-infos">
  <p id="cycling">cycling</p>
  <p id="driving">driving</p>
  <p id="walking">walking</p>
  <div class="d-flex justify-content-center trip-infos-card">
    <div class="trip-infos-individual">
      <h3 id="minutes">0</h3>
      <h4>minutes</h4>
    </div>
    <div class="trip-infos-individual">
      <h3 id="km">0</h3>
      <h4>km</h4>
    </div>
  </div>
</div>


