<div id="stops_input" class='w-100 px-3'>
  <%= simple_form_for @stop do |f| %>
    <div class="d-flex">
      <%= f.hidden_field :trip_id, value: @trip.id %>
      <%= f.input :address, id:"stop_address", class:"w-100", label: false, placeholder: "Where do you want to go?" %>
      <%= f.submit "Here", class:'btn btn-primary btn-submit ml-3' %>
    </div>
  <% end %>
</div>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  data-finished="<%= @trip.finished? %>"
  data-coordinates="<%= @trip.coordinates %>"
></div>

<div id="trip-infos">
  <div class="d-flex justify-content-around py-2 px-3 bg-white trip-infos-profile">
    <span id="walking" class="active"><i class="fas fa-walking"></i></span>
    <span id="cycling"><i class="fas fa-biking"></i></span>
    <span id="driving"><i class="fas fa-car"></i></span>
  </div>
  <div class="d-flex justify-content-center trip-infos-card">
    <div class="trip-infos-individual py-2 px-3">
      <h3 id="minutes">0</h3>
      <h4>minutes</h4>
    </div>
    <div class="trip-infos-individual py-2 px-3">
      <h3 id="km">0</h3>
      <h4>km</h4>
    </div>
  </div>
</div>

<% unless @trip.finished? %>
  <div id="trip-save">
    <%= link_to "Save", finished_trip_path(@trip), class:"btn btn-outline-primary" %>
  </div>
<% end %>


